.about-us-container {
  position: absolute;
  top: 0;
  left: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45rem;
  height: 100vh;
  padding: 8rem;
  padding-left: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #080808;
  background-color: #fff;
  outline: none;

  @media only screen and (max-width: $bp-medium-small) {
    width: calc(100vw - 12.5rem);
  }
}

.about-us-text {
  font-size: 2.8rem;
  font-weight: 500;

  @media only screen and (max-width: $bp-medium-small) {
    font-size: 2.3rem;
  }
}

.about-us-goal {
  margin-top: 5rem;
  line-height: 2.5;

  @media only screen and (max-width: $bp-medium-small) {
    overflow-y: auto;
  }
}

.close-about-us-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.scroll-about-us-icon {
  position: fixed;
  top: 50%;
  right: 5%;
  display: none;
  width: 3rem;
  height: 3rem;

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}