.checkbox-item-container {
  display: flex;
}

.label-text {
  margin-left: 1.5rem;

  &:hover {
    color: $color-grey-dark;
  }
}

.checkbox-item {
  position: relative;
}

.checkbox-item label {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
}

.checkbox-item label:after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 7px;
  height: 4px;
  background: transparent;
  top: 30%;
  left: 25%;
  border: 1.25px solid #000;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.checkbox-item label:hover::after {
  opacity: 0.4;
}

.checkbox-item input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type="checkbox"]:checked ~ label {
  color: $color-grey-dark;
}
