.filter-container {
  position: absolute;
  top: 0;
  left: 6.5rem;
  display: flex;
  align-items: center;
  min-width: 55rem;
  height: 100vh;
  font-size: 1.2rem;
  // font-weight: 300;
  letter-spacing: 1px;
  // color: #fff;
  color: #000;
  // background-color: $color-secondary;
  background-color: #fff;
  outline: none;
}

.filter-all {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-row-gap: 6rem;
  grid-column-gap: 8rem;
}

.filter-child {
  p {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .checkbox {
    margin-top: 2.5rem;

    .checkbox-item-container:not(:first-child) {
      margin-top: 1.5rem;
    }
  }
}

.close-filter-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
}