.sidebar {
  position: fixed;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: $color-secondary;

  p {
    margin: 1rem 2rem 0 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: $color-primary;
  }

  &__setting-icon,
  &__question-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin: 2rem 0;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }
}
