.checkout-menu-container {
  border: 1px solid orangered;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37rem;
  height: 100vh;
  font-size: 1.1rem;
  background-color: $color-primary;
  outline: none;

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

.checkout-menu {
  &__items-section {
    overflow-y: auto;
    padding-top: 6rem;

    &--bag-container {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 2rem;
      background-color: #fff;
      border-bottom: 1px solid $color-grey-light-2;
    }

    .bag-group {
      display: flex;
      align-items: center;

      span {
        margin-left: 1.5rem;
      }
    }

    &--items-container {
      display: flex;
      justify-content: space-between;
      padding: 2rem;

      .item-display--left {
        display: flex;

        img {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
        }

        > div {
          display: inline-block;
          margin-left: 2rem;
        }

        .item-name,
        .item-size-and-color {
          margin-bottom: 0.8rem;
        }

        .item-size-and-color,
        .item-quantity {
          color: $color-grey-light-1;
          font-size: 1rem;
        }
      }

      .item-display--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p:first-child {
          margin-bottom: 0.8rem;
        }

        .item-delete {
          color: $color-grey-light-1;
          font-size: 1rem;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__bag-icon {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 1rem;
  }

  &__empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60%;

    p {
      margin-bottom: 2rem;
      font-size: 1.4rem;
      font-weight: 300;
      color: $color-grey-light-1;
    }

    .empty-cart-icon {
      width: 7rem;
      height: 7rem;
    }
  }

  &__subtotal-section {
    padding: 2rem;

    &--price,
    &--shipping,
    &--final-total-price {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
    }

    &--price {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid $color-grey-light-2;
    }

    &--shipping {
      p {
        font-size: 1rem;
      }

      p:first-child {
        color: $color-grey-light-1;
      }

      p:nth-child(2) {
        font-weight: 500;
        color: $color-secondary;
      }
    }

    &--continue-to-checkout-button {
      margin-top: 2rem;
      text-align: center;
    }

    &--final-total-price {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      border-top: 1px solid $color-grey-light-2;
    }
  }
}

.close-menu-icon {
  width: 1.25rem;
  height: 1.25rem;

  &:hover {
    cursor: pointer;
  }
}
