.checkbox-item-container {
  display: flex;
  align-items: center;
}

.label-text {
  margin-left: 1rem;
}

.checkbox-item {
    position: relative;
}

.checkbox-item label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    background: #000;
    border: 1px solid #fff;
}

.checkbox-item label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background: transparent;
    top: 30%;
    left: 25%;
    border: 1.25px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.checkboxbox-item label:hover::after {
    opacity: 0.4;
}

.checkbox-item input[type=checkbox]:checked + label:after {
    opacity: 1;
}