.filter-container {
  position: absolute;
  top: 0;
  left: 6.5rem;
  display: flex;
  align-items: center;
  min-width: 55rem;
  height: 100vh;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  background-color: $color-secondary;
  outline: none;
  // border: 1px solid red;
}

.filter-all {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-row-gap: 6rem;
  grid-column-gap: 8rem;
  // border: 1px solid red;
}

.filter-child {
  p {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  // .checkbox {
  //   margin-top: 2.5rem;

  // .checkbox-item {
  //     margin-top: 1.2rem;
  //   }
  // }

  // .checkbox-item label {
  //   margin-left: 1rem;
  // }

  // input[type=checkbox]:checked ~ label {
  //   color: $color-grey-dark;
  // }

  // input[type=checkbox] label:before {
  //   border-radius: 2px;
  // }
}

.close-filter-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
