.nav-info {
  position: relative;
  grid-column: 2 / span 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.nav-info-main {
  position: fixed;
  top: 55%;
}

.section-index {
  min-height: 8rem;
  transform: rotate(-180deg);
  margin: 4rem 0;
  font-size: 1.4rem;
  text-align: center;
  writing-mode: tb-rl;

  &--end {
    color: $color-grey-dark;
  }

  &--splash {
    margin: 0.5rem 0;
    color: $color-grey-dark;
  }
}

.arrow-up,
.arrow-down {
  width: 1.4rem;
  height: 1.4rem;
}

.arrow-down {
  transform: rotate(180deg);
}

.filter-info-main {
  position: fixed;
  bottom: 15%;
}

.filter-nav-scrolling {
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 1px;

  .filter-three-dots-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .filter-text {
    padding-top: 0.7rem;
    padding-bottom: 4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .filter-by {
    display: inline-block;
    font-size: 1.1rem;
    color: $color-grey-dark;
    height: 26rem;
    line-height: 2;
  }
}

.back-to-collection-main {
  position: fixed;
  top: 40%;
}

.back-to-collection {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
}
