.nav-info {
  position: relative;
  grid-column: 2 / span 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-info-main {
  position: fixed;
  top: 55%;
}

.section-index {
  height: 8rem;
  margin: 4rem 0;
  text-align: center;
  font-size: 1.4rem;
  writing-mode: tb-rl;
  transform: rotate(-180deg);

  &--end {
    color: $color-grey-dark;
  }

  &--splash {
    margin: 0.5rem 0;
    color: $color-grey-dark;
  }
}

.arrow-up,
.arrow-down {
  width: 1.4rem;
  height: 1.4rem;
}

.arrow-down {
  transform: rotate(180deg);
}
