.checkout-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37rem;
  height: 100vh;
  font-size: 1.1rem;
  background-color: #fff;
  outline: none;
}

.checkout-menu {
  &__items-section {
    overflow-y: auto;

    &--bag-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      border-bottom: 1px solid $color-grey-light-2;
    }

    .bag-group {
      display: flex;
      align-items: center;
    }

    &--items-container {
      display: flex;
      justify-content: space-between;
      padding: 2rem;

      .item-display--left {
        display: flex;

        img {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
        }

        > div {
          display: inline-block;
          margin-left: 2rem;
        }

        .item-name,
        .item-size-and-color {
          margin-bottom: 0.8rem;
        }

        .item-size-and-color,
        .item-quantity {
          color: $color-grey-light-1;
          font-size: 1rem;
        }
      }

      .item-display--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p:first-child {
          margin-bottom: 0.8rem;
        }

        .item-delete {
          color: $color-grey-light-1;
          font-size: 1rem;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__bag-icon {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 1rem;
  }

  &__subtotal-section {
    padding: 2rem;

    &--price,
    &--shipping {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
    }

    &--price {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid $color-grey-light-2;
    }

    &--shipping {
      p:first-child {
        color: $color-grey-light-1;
        font-size: 1rem;
      }
    }

    &--continue-to-checkout-button {
      margin-top: 1rem;
      text-align: center;
    }
  }
}

.close-menu-icon {
  width: 1.25rem;
  height: 1.25rem;

  &:hover {
    cursor: pointer;
  }
}
