.checkout-page {
  grid-column: 1 / -1;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: $color-grey-light-3;

  &__left-section {
    margin-top: 7rem;
    margin-left: 22rem;
    margin-right: 44rem;

    > div {
      padding-bottom: 7rem;
    }
  }

  &__right-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 37rem;
    height: 100vh;
    overflow-y: auto;
    font-size: 1.1rem;
    background-color: #fff;

    .your-cart-and-number {
      position: fixed;
      top: 5rem;
      right: 0;
      display: flex;
      justify-content: space-between;
      width: 37rem;
      padding: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: #fff;
    }

    .all-items-in-cart {
      padding-top: 12rem;
      height: 65vh;
    }
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 3.6rem;

    span:first-child {
      padding-right: 3rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  &__input-container {
    width: 100%;
    height: 5rem;
    padding-left: 1.5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 0.8rem rgba($color-secondary, 0.1);

    &:active,
    &:focus {
      border: 1px solid $color-grey-dark;
    }

    &::placeholder {
      color: $color-grey-light-1;
      font-weight: 300;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  .shipping-section {
    &__all-shipping-carriers {
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
        padding: 0 2rem;
        background-color: #fff;
      }

      .radio-and-carrier-info {
        display: flex;
        align-items: center;
      }

      .shipping-cost {
        font-weight: 500;
        letter-spacing: 0.75px;
      }
    }

    &__carrier-info {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;

      label {
        padding: 5px 0;
      }

      label:nth-child(2) {
        color: $color-grey-light-1;
        font-size: 1rem;
        font-weight: 300;
      }
    }

    &__dhl-parcel-service {
      grid-column: 1 / 3;
    }

    &__fedex-shipping {
      grid-column: 3 / 5;
    }
  }

  .address-section {
    &__all-fields-container {
      .first-name {
        grid-column: 1 / 3;
      }

      .last-name {
        grid-column: 3 / 5;
      }

      .company {
        grid-column: 1 / 3;
      }

      .email {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }

      .phone-number {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
      }

      .zip-code {
        grid-row: 4 / 5;
      }

      .address {
        grid-column: 2 / -1;
        grid-row: 4 / 5;
      }

      .city {
        grid-column: 1 / 3;
      }

      .country {
        grid-column: 3 / 5;
      }
    }
  }

  .payment-section {
    &__all-fields-container {
      .name-on-card {
        grid-column: 1 / 3;
      }

      .card-number {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }

      .valid-through {
        grid-row: 3 / 4;
      }

      .cvc-code {
        grid-row: 3 / 4;
      }
    }
  }
}
