.footer {
  // border: 1px solid red;
  grid-column: 4 / -2;
  padding: 18rem 0 7rem;

  .footer-paperan {
    // border: 1px solid royalblue;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    > div:not(:last-child) {
      padding-right: 10rem;
    }

    > div {
      @media only screen and (max-width: $bp-largest) {
        padding: 3rem 0;
        border: 1px solid $color-grey-light-2;
        border-left: none;
        border-right: none;
      }
    }

    .footer__info {
      @media only screen and (max-width: $bp-largest) {
        border-top: 2px solid $color-grey-light-2;
      }
    }

    .footer__social {
      @media only screen and (max-width: $bp-largest) {
        border-bottom: 2px solid $color-grey-light-2;
      }
    }

    p {
      margin-bottom: 1.6rem;
      font-size: 1.3rem;
      text-transform: uppercase;
    }

    ul {
      // border: 1px solid red;
      color: $color-grey-light-1;
      list-style-type: none;

      li {
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.5px;
      }

      li:not(:last-child) {
        margin-bottom: $s-size;
      }
    }

    @media only screen and (max-width: $bp-largest) {
      flex-direction: column;
      width: 50%;
      margin: 0 auto;
    }
  }

  .footer-credit {
    margin-top: $xl-size;

    a {
      display: block;
      margin: 1rem;
      color: $color-grey-light-1;
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
      text-decoration: none;
    }
  }
}
