.product-item {
  grid-column: 4 / -2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 10rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: $color-grey-light-1;

  @media only screen and (max-width: $bp-small) {
    padding: 0 0.5rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.photo-display {
  position: relative;

  &__small,
  &__large {
    width: 100%;
    min-height: 50rem;
    object-fit: cover;


    @media only screen and (max-width: $bp-small) {
      min-height: 30rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      min-height: 24rem;
    }
  }
}

.zoom-hint {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  color: $color-grey-dark;
  background-color: $color-primary;
  box-shadow: 0.4rem 0.7rem 4rem -1rem rgba($color-secondary, 0.9);

  .zoom-in-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.3rem;
    height: 1.3rem;
  }
}

.product-details {
  &__path {
    padding-left: 1rem;
  }

  .long-dash {
    margin: 0 1rem;
  }

  &__name {
    padding: 4rem 0 4rem 1rem;
    font-size: 3rem;
    font-weight: 500;
    color: $color-secondary;
    line-height: 1.5;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.2rem;
    }
  }

  &__price {
    padding: 4rem 0 4rem 1rem;

    span:first-child {
      font-size: 2rem;
      font-weight: 500;
      color: $color-secondary;
      letter-spacing: 1px;
    }

    span:nth-child(2) {
      margin-left: 1rem;
      font-size: 1.3rem;
    }
  }

  &__color-container,
  &__size-container,
  &__availability-container,
  &__add-to-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 3rem 1rem;
    border-top: 1px solid $color-grey-light-2;

    @media only screen and (max-width: $bp-small) {
      padding: 3rem 0.6rem 3rem 1rem;
    }
  }

  .add-to-cart {
    display: flex;
    justify-content: space-between;
    width: 28rem;

    @media only screen and (max-width: 72em) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__color-list,
  &__size-list {
    display: flex;

    > div:not(:last-child) {
      margin-right: 0.6rem;

      @media only screen and (max-width: $bp-medium-small) {
        margin-right: 0;
      }
    }

    > div {
      padding: 0.3rem;
    }
  }

  &__size-list {
    > div {
      padding: 0.75rem 1rem;
      color: $color-grey-light-1;
      border: 1px solid $color-grey-light-1;

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
      }
    }

    .paper-size-select {
      color: $color-secondary;
      border: 1px solid $color-secondary;
    }

    > div:not(:last-child) {
      margin-right: 0.6rem;
    }
  }

  .ten-plus-stock {
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-secondary;
  }

  &__add-to-cart-container--button {
    padding: 1.5rem 3rem;
    font-weight: 400;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $color-secondary;
   
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  &__details-toggle {
    height: 10rem;
    padding: 3rem 2rem 3rem 1rem;
    border-top: 1px solid $color-grey-light-2;

    > p:first-child {
      padding-bottom: 2rem;
      text-align: center;
      font-weight: 400;

      &:hover {
        cursor: pointer;
      }
    }

    .detail-text-toggle {
      line-height: 1.8;
    }
  }
}

.square-color {
  width: 2.5rem;
  height: 2.5rem;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }
}

.numeric-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  border: 1px solid $color-grey-light-2;
  border-right: none;

  .quantity-input {
    margin: 0 auto;
    padding: 0.6rem;
    text-align: center;
  }

  .plus-container,
  .minus-container {
    padding: 0.38rem 1rem;
    background-color: $color-grey-light-2;
  }

  .plus-container {
    margin-bottom: 0.1rem;
  }

  .plus-icon,
  .minus-icon {
    width: 1rem;
    height: 1rem;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 72em) {
    margin-bottom: 2rem;
  }
}

.stock-alert,
.item-selection-alert {
  margin-bottom: 1rem;
  font-weight: 400;
  color: $color-secondary;
  text-align: center;
}

.stack-menu-checkout {
  position: absolute;
  top: 0;
  right: 0;
}

.bm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid yellowgreen;
}