.single-product {
  // border: 1px solid red;
  grid-column: 4 / -2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: $color-grey-light-1;
  // position: relative;
}

.photo-display {
  img {
    width: 100%;
    min-height: 50rem;
    object-fit: cover;
  }
}

.product-details {
  .long-dash {
    margin: 0 1rem;
  }

  &__name {
    font-size: 3rem;
    font-weight: 500;
    color: $color-secondary;
    padding: 4rem 0 4rem 1rem;
  }

  &__price {
    padding: 4rem 0 4rem 1rem;

    span:first-child {
      font-size: 2rem;
      font-weight: 500;
      color: $color-secondary;
      letter-spacing: 1px;
    }

    span:nth-child(2) {
      margin-left: 1rem;
      font-size: 1.3rem;
    }
  }

  &__color-container,
  &__size-container,
  &__availability-container,
  &__add-to-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 3rem 1rem;
    border-top: 1px solid $color-grey-light-2;
  }

  &__color-list,
  &__size-list {
    display: flex;

    > div:not(:last-child) {
      margin-right: 1rem;
    }

    > div {
      padding: 0.3rem;
    }
  }

  &__size-list {
    > div {
      padding: 0.75rem 1rem;
      color: $color-grey-light-1;
      border: 1px solid $color-grey-light-1;

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
      }
    }

    .paper-size-select {
      color: $color-secondary;
      border: 1px solid $color-secondary;
    }
  }

  .ten-plus-stock {
    font-size: 1.2rem;
    color: $color-secondary;
    font-weight: 400;
  }

  &__add-to-cart-container--button {
    padding: 1.5rem 3.5rem;
    font-weight: 400;
    color: $color-primary;
    background-color: $color-secondary;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }

  &__details-toggle {
    height: 10rem;
    padding: 3rem 2rem 3rem 1rem;
    border-top: 1px solid $color-grey-light-2;

    > p:first-child {
      padding-bottom: 2rem;
      text-align: center;
      font-weight: 400;

      &:hover {
        cursor: pointer;
      }
    }

    .detail-text-toggle {
      line-height: 1.8;
    }
  }
}

.square-color {
  width: 2.5rem;
  height: 2.5rem;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }
}

.numeric-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  margin-right: -6rem;
  border: 1px solid $color-grey-light-2;
  border-right: none;

  .quantity-input {
    margin: 0 auto;
    padding: 0.6rem;
    // color: $color-grey-dark;
    text-align: center;
  }

  .plus-container,
  .minus-container {
    padding: 0.38rem 1rem;
    background-color: $color-grey-light-2;
  }

  .plus-container {
    margin-bottom: 0.1rem;
  }

  .plus-icon,
  .minus-icon {
    width: 1rem;
    height: 1rem;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
    }
  }
}

.stock-alert {
  margin-bottom: 1rem;
  text-align: center;
}

.stack-menu-checkout {
  // border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
}

.bm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid yellowgreen;
}