.header {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $xl-size;
  padding: $m-size;
  font-size: 1.2rem;
}

.search-bar-main {
  display: flex;
  align-items: center;

  &__search-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  input {
    width: 25rem;
    height: 100%;
    margin-left: 1rem;
    border: none;
    outline: none;

    &:focus::placeholder {
      opacity: 0;
    }

    &::placeholder {
      color: $color-grey-light-1;
      font-weight: 300;
    }
  }
}

.user-account-container {
  display: flex;
  align-items: center;

  span:nth-child(2) {
    margin: 0 4rem;
  }
}

.quantity-in-cart {
  position: relative;

  &__cart-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .circle {
    position: absolute;
    top: -34%;
    right: -34%;
    width: 1.4rem;
    height: 1.4rem;
    padding: 4px;
    background-color: $color-secondary;
    border-radius: 50%;
    border: 1px solid $color-primary;

    .quantity {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 0.5rem;
      font-weight: 300;
      color: $color-primary;
    }
  }

  &:hover,
  &:focus {
      cursor: pointer;
    }
}
