*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.4rem;
  color: $color-secondary;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 7rem) repeat(8, minmax(min-content, 1fr)) 7rem;
  grid-template-rows: repeat(3, min-content);
  max-width: 150rem;
  margin: 0 auto;
}
