// Colors
$color-primary: #fff;
$color-secondary: #080808;

$color-grey-dark: #808080;
$color-grey-light-1: #bbb;
$color-grey-light-2: #e7e7e7;

// Fonts
$font-primary: "Poppins", sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 8rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 62.5em; // 1000px
$bp-large: 57em; // 912px
$bp-medium: 46em; // 736px;
$bp-medium-small: 37.5em; // 600px;
$bp-small: 30em; // 480px;
$bp-smallest: 22em; // 352px;
